/* src/css/BidPage.css */

.ongoing-bids-container {
  margin-top: 20px;
}

.table-fixed {
  table-layout: fixed;
}

.table-fixed th, .table-fixed td {
  word-wrap: break-word;
}

.form-check-label {
  cursor: pointer;
}
