/* src/css/RegisteredUsers.css */

.registered-users-container {
  padding: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

.registered-users-table th, .registered-users-table td {
  vertical-align: middle;
  text-align: center;
}


.profile-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

@media (min-width: 576px) {
  .profile-img {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 768px) {
  .profile-img {
    width: 60px;
    height: 60px;
  }
}
